.scannerContainer {
  width: 100%;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
}

.scannerBox {
  width: 100%;
  background-color: white;
  color: black;
}

/* Ensure the internal html5-qrcode elements don't get too crazy */
.scannerBox :global(#qr-reader) {
  border: none !important;
  border-radius: 0.5rem;
  overflow: hidden;
}

.scannerBox :global(#qr-reader__dashboard_section_csr span) {
  color: #0f172a !important;
}

.scannerBox :global(#qr-reader__dashboard_section_swaplink) {
  color: #3b82f6 !important;
  text-decoration: none !important;
}
